* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

.top-bar {
  background-color: #e60000;
  color: white;
  padding: 7px;
  text-align: center;
  font-weight: bold;
}

.logo {
  width: 100px;
}

.search-form {
  width: 690px;
}

.search-form .form-control {
  padding-right: 50px;
  border: 1px solid rgba(86, 68, 149, 0.3);
  color: #564495;
  background-color: #fff;
  box-shadow: none;
  outline: none;
}

.search-form .form-control:focus {
  border-color: rgba(86, 68, 149, 0.3);
  box-shadow: none !important;
  outline: none !important;
}

.search-form .form-control::placeholder {
  color: #564495;
  opacity: 0.8;
}

.search-form .form-control:hover {
  border-color: #564495;
  transition: border-color 0.3s ease;
}

.search-form .search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #564495;
  pointer-events: none;
  font-size: 16px;
}

.search-form .form-control::-webkit-search-decoration,
.search-form .form-control::-webkit-search-cancel-button,
.search-form .form-control::-webkit-search-results-button,
.search-form .form-control::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 991px) {
  .search-form {
    width: 100%;
  }

  .navbar .container {
    text-align: center;
  }

  .logo,
  .cartLogo {
    width: 50px;
    height: auto;
  }

  .navbar-brand {
    margin-bottom: 0;
  }
}

.custom-navbar {
  background-color: #4b3b94;
  padding: 10px 0;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  margin: 0 15px;
}

.login-btn i {
  margin-left: 5px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #ddd;
}

.login-btn {
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  font-size: 16px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #fff;
  color: #4b3b94;
}

.carousel {
  margin-block: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #ccc !important;
  margin: 0 6px;
  border: none !important;
  opacity: 1 !important;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #4b3b94 !important;
}
